@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?236zq1') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?236zq1') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?236zq1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}

